:root {
  --brend-color: #2196f3;
  --primery-text-color: #212121;
  --secondary-text-color: #757575;
  --color-text-dark-theme: #ffffff;
  --text-paragraph: "Roboto", sans-serif;
}

/* reset and normalize */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* tamplate */

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
  min-height: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.studio-header .container {
  display: flex;
  align-items: center;
}

.menu-nav {
  display: flex;
  align-items: center;
}

.menu-nav-list {
  display: flex;
  gap: 50px;
}

.list-contact {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.link-active {
  color: var(--brend-color);
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

/* header */

.studio-header {
  border: 1px solid #ececec;
}

.part-logo-color {
  color: var(--brend-color);
}

.logo-up {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
  color: #000000;
  padding-top: 24px;
  padding-bottom: 25px;
}

.menu-nav-link {
  display: inline-block;
  color: var(--primery-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.list-contact-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.address-link:hover,
.studio-header a:hover,
.address-link:focus,
.studio-header a:focus,
.logo-down-link:hover,
.logo-down-link:focus {
  color: var(--brend-color);
}

/* hero */
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./images/Img.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.title-first {
  color: var(--color-text-dark-theme);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 696px;
}

.hero-btn {
  width: 216px;
  height: 50px;
  left: 692px;
  top: 430px;
  align-items: center;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: transparent;
}

.button-link:hover,
.button-link:focus {
  background-color: var(--brend-color);
  color: var(--color-text-dark-theme);
}

.container .button-active {
  background-color: var(--brend-color);
  color: var(--color-text-dark-theme);
}

/* technology */

.technology-list {
  display: flex;
  gap: 30px;
}

.technology-list-item {
  width: 270px;
}

.technology-title {
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
  color: var(--primery-text-color);
}

.technology-paragraph {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* prezents */

.prezents {
  padding-top: 0;
}

.prezents-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.prezents-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

/* team */

.team {
  text-align: center;
  background-color: #f5f4fa;
}

.team-list {
  align-items: center;
  display: flex;
  gap: 30px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.card {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f5f4fa;
}

.team-title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team-paragraph {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

/* our customers */

.customers {
  text-align: center;
}

.customers-title {
  margin-bottom: 50px;
}

.customers-list {
  align-items: center;
  display: flex;
  gap: 30px;
}

.customers-list-item {
  box-sizing: border-box;
  width: 370px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 32px;
  background-color: #fff;
}

/* project */

.button-nav {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.button-link {
  font-family: var(--text-paragraph);
  background: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.project-list {
  align-items: center;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.project-list-item {
  box-sizing: border-box;
  width: 370px;
  border: 1px solid #eeeeee;
}

.project-list .card {
  padding: 20px 24px;
  background-color: #fff;
}

.project-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-item-paragraph {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

/* footer */
.studio-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-down-link {
  display: inline-block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.14;
  color: #ffffff;
  margin-bottom: 20px;
}

.address-nav-link {
  display: inline-block;
  line-height: 1.71;
  color: var(--color-text-dark-theme);
}

.address-link {
  display: inline-block;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.address {
  font-style: normal;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}
